@import './variables.scss';

.layout {
  position: relative;
  .side {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    .logo {
      height: $base-header-height;
    }
  }
  .right {
    margin-left: $base-side-width;
    .header {
      padding: 0 $base-padding;
      background: $base-color-white;
      height: $base-header-height;
      display: flex;
      align-items: center;
      .toggle-btn {
        font-size: 18px;
        cursor: pointer;
        &:hover {
          color: $base-color-default;
        }
      }
      .fix-switch {
        margin-left: auto;
      }
      .user-setting {
        margin-left: 20px;
        &-dropdown {
          margin-left: 10px;
        }
      }
    }
    .header-fix {
      position: fixed;
      top: 0;
      width: calc(100% - #{$base-side-width});
    }
    .side-collapsed-header {
      width: calc(100% - #{$base-fold-side-width});
    }
    .header-fix-main {
      margin-top: $base-header-height;
    }
  }
  .side-collapsed {
    margin-left: $base-fold-side-width;
  }
}