@import './variables.scss';

.layout {
  position: relative;
  .side {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    .logo {
      height: $base-header-height;
    }
  }
  .right {
    margin-left: $base-side-width;
    .header {
      padding: 0 $base-padding;
      background: $base-menu-background;
      height: $base-header-height;
      display: flex;
      align-items: center;
      .toggle-btn {
        font-size: 16px;
        color: $base-color-white;
        cursor: pointer;
        &:hover {
          color: $base-color-default;
        }
      }
      .user-setting {
        margin-left: auto;
        &-dropdown {
          margin-left: 10px;
          color: $base-color-white;
        }
      }
    }
  }
  .side-collapsed {
    margin-left: $base-fold-side-width;
  }
}